<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COGS Project</title>
</head>
<body>
    {{!-- WE'll TEMPLATE LANDING PAGE HERE --}}
</body>
</html>